<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.css" />
  </head>

  <body>
   <div class="head_container">
      <p>MS CAR DIESEL<p>
      <p class="company_address">R. Rad. Waldomiro M Barbosa, 2 - Cidade Universitária, Maceió - AL, 57072-240</p>
      <p class="company_contact">(82) 99809-8710</p>
      <p class="company_contact">mscardiesel@gmail.com</p>
    </div>
    <br>
    <article class="message is-info">
      <div class="message-header">
        <p>Ordem de Serviço de número <%= @service_order.protocol_number %></p>
      </div>
        <article class="message ">
          <div class="message-body">
            <p><strong>Cliente:</strong> <%=@service_order.vehicle.customer.name%></p> 
            <p><strong>Endereço:</strong> <%=@service_order.vehicle.customer.address.street%></p> 
            <p><strong>Telefone:</strong> <%=@service_order.vehicle.customer.phone_number%></p>
            <p><strong>Modelo/Ano:</strong>
              <%=@service_order.vehicle.model%> / <%=@service_order.vehicle.year%>
            </p>
            <p><strong>Marca:</strong> <%=@service_order.vehicle.brand%></p> 
            <p><strong>Placa:</strong> <%=@service_order.vehicle.plate%></p> 
            <p><strong>N Chassi:</strong> <%=@service_order.vehicle.chassis%></p> 
            <p><strong>Kilometragem:</strong></p> 
          </div>
        </article>
    </article>

    <article class="message is-info">
      <div class="message-header">
        <p>Defeito/Reclamação</p>
      </div>
      <article class="message ">
        <div class="message-body">
          <p><%=@service_order.issue_reported%></p> 
        </div>
      </article>
    </article>

    <article class="message is-info">
      <div class="message-header">
        <p>Observações</p>
      </div>
      <article class="message ">
        <div class="message-body">
          <p><%=@service_order.observation%></p> 
        </div>
      </article>
    </article>

    <article class="message is-info">
      <div class="message-header">
        <p>Serviços a realizar</p>
      </div>
      <article class="message">
        <div class="message-body">
          <p><%#=@service_order.observation%></p> 
        </div>
      </article>
    </article>
  </body>
</html>
